.body{
 width: 100%   
}

.home{
background-color: black;
height: 100vh;
width: 100%;  
display: flex;
justify-content: center;
align-items: center;
}

.logo{
 color: white;   
}
.pg-inicial{ 
background-color: gray;
height: 100vh;
width: 100%;  
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
}

#map {
margin-top: 20px;
height: 180px;
width: 260px;
border-radius: 6px;
  }

  .sub-title{
margin-top: 20px;   
  }
 
li{
color: red;
padding-top: 10px;  
}

img{
width: 100px;
height: 100px;
margin: 6px;
border-radius: 5px;

}
