.body{
 width: 100%   
}

.home{
background-color:orange;
height: 100vh;
width: 100%;  
display: flex;
justify-content: center;
align-items: center;
}

.home, .pg-inicial{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}

.logo{
 color: white;   
}
.pg-inicial{ 
display: none;
background-color: orange;
padding-top: 20px;
color: white;

}

.texto-home{
text-align: center;  
}

.filtrar{
border-radius: 4px;
color: white;
background-color: rgb(228, 75, 28);  
height: 30px;
padding: 2px;
}

#map {
margin-top: 20px;
height: 180px;
width: 260px;
border-radius: 6px;
  }

  .sub-title{
margin-top: 20px;   
  }

img{
width: 100px;
height: 100px;
margin: 7px;
border-radius: 5px;
}

.img-logo{
border-radius: 20px;  
height: 200px;
width: 200px;
}
